<form id='createNew' action='/user/blogs/{{blogs.user_id}}' method='POST' style="display:none">
    <div class="form-group">
        <label for="newBlogTitle">Title</label>
        <input type="text" class="form-control" id="newBlogTitle" name='title' placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label for="newBlogCategories">Categories</label>
        <div class='form-control' id='newBlogCategories'>
            <div class="form-check form-check-inline">
                <input class="form-check-input blogCate" type="checkbox" name='category' value="Sustainability">
                <label class="form-check-label">Sustainability</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input blogCate" type="checkbox" name='category' value="News">
                <label class="form-check-label">News</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input blogCate" type="checkbox" name='category' value="Opinion">
                <label class="form-check-label">Opinion</label>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <label for='newBlogBody'>Body</label>
        <textarea name='body' class='form-control ' rows='3' id='newBlogBody'></textarea>
    </div>
    <div class='form-group'>
        <div class='row'>
            <div class='mx-3 col-sm-4'>
                <label class="custom-file-label" for="newMainImg">Main image </label>
                <input type="file" class='custom-file-input uploadImg' id="newMainImg" name='picture_URL'>
                <img class='custom-area-sm my-2' src='/pictures/image.png'>
            </div>
            <div class=' mx-3 col-sm-4'>
            <label class="custom-file-label" for="newPic"> More Pictures</label>
            <input type="file" class='custom-file-input uploadImgMore' name='picture_URL'>
            <div id='newPic'></div>
        </div>
        </div>
    </div>
    <div class='form-group'>
        <button type="submit" id='newBlogSubmitBtn' class="btn btn-primary">Submit</button>
    </div>
</form>