<div class='card-body'>
    <form>
        <div class="form-group">
            <label for="newBlogTitle">Title</label>
            <input type="text" class="form-control" id="newBlogTitle" name='title' placeholder="Enter Title">
        </div>
        <div class='form-group'>
            <label for='newBlogBody'>Body</label>
            <textarea name='body' class='form-control ' rows='3' id='newBlogBody'></textarea>
        </div>
    </form>
</div>