<form id='createNew' style="display:none" class='newReview'>
    <div class='card-body'>
        <div class="form-group">
            <label for="newTitle">Title</label>
            <input type="text" class="form-control" id="newTitle" name='title' placeholder="Enter Title">
        </div>
        <div class='form-group'>
            <label for='newBody'>Body</label>
            <textarea name='body' class='form-control ' rows='3' id='newBody'></textarea>
        </div>
        <div class='form-group'>
            <div class='row'>
                <div class='mx-3 col-sm-4'>
                    <label class="custom-file-label" for="newImg">Images </label>
                    <input type="file" class='custom-file-input uploadImg' id="newImg" name='picture_URL'>
                    <img class='custom-area-sm my-2' src='/pictures/image.png'>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <button type="submit" id='newReviewSubmitBtn' class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>