<div class="modal" id="login-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login Page</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action='/auth/login' method='POST'>
                    <div class='form-group'>
                        <label for='email-login'>Email address</label>
                        <input type='email' class='form-control' id='email-login' name="username">
                    </div>
                    <div class='form-group'>
                        <label for='password-login'>Password:</label>
                        <input type='password' class='form-control' id='password-login' name="password">
                    </div>
                    <div class='form-group'>
                        <button type='button' id='forget-password-btn' class='btn btn-sm btn-info btn-password'
                            data-toggle='modal' data-target='#security'>Forgot your password?</button>
                    </div>
                    <div class='form-group d-flex'>
                        <button type='submit' class='btn btn-danger flex-grow-1'>Login</button>
                        <a href="/auth/facebook" class='btn btn-info btn-facebook mx-2 flex-grow-1'><i
                                class="fab fa-facebook-square"></i> Log in with Facebook</a>
                        <a href="/auth/google" class='btn btn-info btn-google flex-grow-1'><i class="fab fa-google"></i>
                            Log in with Google</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="security">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Security Page</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id='securityPage'>
                    <div class='form-group'>
                        <label>Please provide your email and answer your security question:</label>
                    </div>
                    <div class='form-group'>
                        <label for='security-email'>Email</label>
                        <input type='email' class='form-control' id='security-email' name="security-email">
                    </div>
                    <div class='form-group'>
                        <label for='security-answer'>Security Question</label>
                        <input type='password' class='form-control' id='security-answer' name="security-answer">
                    </div>
                    <div class='form-group'>
                        <button type='submit' id='submit-security' class='btn btn-info'>Submit</button>
                    </div>
                </form>

                <form id='reset-password-page'style='display:none'>
                    <div class='form-group'>
                        <label>Reset your password:</label>
                    </div>
                    <div class='form-group'>
                        <label for='reset-password'>Enter new password</label>
                        <input type='password' class='form-control' id='reset-password' name="reset-password">
                    </div>
                    <div class='form-group'>
                        <label for='reset-password-2'>Confirm password</label>
                        <input type='password' class='form-control' id='reset-password-2' name="reset-password-2">
                    </div>
                    <div class='form-group'>
                        <button type='submit' id='submit-new-password' class='btn btn-info'>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>