<div class="modal" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Register Page</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action='/auth/signup' method='POST'>
                <div class='form-group'>
                    <label for='nameD'>Display Name</label>
                    <input type='text' class='form-control' id='nameD' name="display_name"> 
                </div>
                <div class='form-group'>
                    <label for='email'>Email address</label>
                    <input type='email' class='form-control' id='emailR' name="username"> 
                </div>
                <div class='form-group'>
                    <label for='nameF'>First Name</label>
                    <input type='text' class='form-control' id='nameF' name="first_name"> 
                </div>
                <div class='form-group'>
                    <label for='nameL'>Last Name</label>
                    <input type='text' class='form-control' id='nameL' name="last_name"> 
                </div>
                <div class='form-group'>
                    <label for='pwd'>Password:</label>
                    <input type='password' class='form-control' id='pwd' name="password">
                </div>
                {{!-- <div class='form-group'>
                    <label for='pwdR'>Re-type your password:</label>
                    <input type='password' class='form-control' id='pwdR'>
                </div> --}}
                <button type='submit' class='btn btn-danger'>Register</button>
                <a href="auth/facebook" class='btn btn-info'>Sign Up with Facebook</a>
                <a href="auth/google" class='btn btn-primary'>Sign Up with Google</a>
                </form>
            </div>
        </div>
    </div>
</div>