<div class='row my-2'>
    <div class="col rounded bg-green mx-3 p-2">
        <form id='restaurant-search' class='d-flex align-items-center flex-column'>
            <h5 class='color-white mx-1'>Try updating your search to be more specific?</h5>

            <input id='restaurant-input' class="form-control form-control-sm my-2" type="text" placeholder="Search"
                aria-label="Search">

            <div class="form-inline w-100 my-2">
                <select id='restaurant-category' class='form-control form-control-sm flex-grow-1 flex-basis-0 mx-1' name="form-category">
                    <option value="">Category</option>
                </select>
                <select id='restaurant-price' class='form-control form-control-sm flex-grow-1 flex-basis-0 mx-1' name="form-price">
                    <option value="">Price</option>
                    <option value="1">Cheap</option>
                    <option value="2">Moderate</option>
                    <option value="3">Expensive</option>
                </select>
                <select id='restaurant-area' class='form-control form-control-sm flex-grow-1 flex-basis-0 mx-1' name="form-area">
                    <option value="all">Area</option>
                    <option value="Hong Kong Island">Hong Kong Island</option>
                    <option value="Kowloon">Kowloon</option>
                    <option value="New Territories">New Territories</option>
                    <option value="Outlying Islands">Outlying Islands</option>
                </select>
                <select id='restaurant-district' class='form-control form-control-sm flex-grow-1 flex-basis-0 mx-1'
                    name="form-district">
                    <option value="">District</option>
                </select>
            </div>

            <button class="btn btn-primary btn-search btn-rounded my-2" type="submit"><i class="fas fa-search"
                    aria-hidden="true"></i></button>
        </form>
    </div>
</div>