<div class='container-fluid'>
    <div class='card'>
        <div class='row'>
            <div class='col-sm-4'>
                <h4 class='card-header'><a href='/restaurant/details/summary'>res name</a></h4>
                <div class='card-body'>
                    <img class='w-100 mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='w-100 ' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <hr>
                    <p class='card-title'></p><i class="fa fa-thumbs-up"></i>
                    Rating</p>
                    <p class='card-title'>☆ Add to favourite</p>

                </div>
            </div>
            <div class='col-sm-4'>
                <h4 class='card-header'>res details</h4>
                <ul class='list-group list-group-flush mt-3'>
                    <li class='list-group-item'>Price ranges</li>
                    <li class='list-group-item'>Categories</li>
                    <li class='list-group-item'>Opening Time</li>
                    <li class='list-group-item'>Phone Number</li>
                    <li class='list-group-item'>Address</li>
                    <li class='list-group-item'><a href=''>Social media</a></li>
                </ul>
            </div>
            <div class='col-sm-4'>
                <h4 class='card-header'>GeoLocation</h4>
                <div id="map" style="width:100%;height:400px;"></div>
            </div>
        </div>
    </div>
</div>
<hr class='mx-3'>