<div class='row my-2'>
    <div class="col">
        <ul class='filter-bar d-flex justify-content-around w-100 m-0'>
            <button onclick="window.location.href='/restaurants/latest';"
                class='btn btn-primary btn-green flex-grow-1'>Latest</button>
            <button onclick="window.location.href='/restaurants/rating';"
                class='btn btn-primary btn-green flex-grow-1'>Rating</button>
            <button onclick="window.location.href='/restaurants/location';"
                class='btn btn-primary btn-green flex-grow-1'>Location</button>
        </ul>
    </div>
</div>