<ul class='nav justify-content-center navbar-light bg-light  '>
    <li class='nav-item'>
        <a href='info' class='nav-link'>User information</a>
    </li>
    <li class='nav-item'>
        <a href='reviews' class='nav-link'>Reviews</a>
    </li>
    <li class='nav-item'>
        <a href='blogs' class='nav-link'>Blogs</a>
    </li>
    <li class='nav-item'>
        <a href='restaurants' class='nav-link'>Restaurants</a>
    </li>
    <li class='nav-item'>
        <a href='#' class='nav-link'></a>
    </li>
</ul>
<div class='w-100 mb-3'></div>