<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Open Vegetables-{{title}}</title>
    <meta name="description" content="Open Vegetables">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://localhost:8080/css/vendor/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="google-signin-client_id"
        content="348043805525-9h9e16iojqr9bu966r4asbie0dr1uiq8.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://localhost:8080/css/style.css">

</head>

<body>
    <ul class='nav navbar-light m-2'>
        <li class='nav-item mx-auto'>
            <i class="fas fa-2x fa-carrot"></i>
        </li>
        <div class='mt-auto d-flex'>
            <li class='nav-item'>
                <a class="nav-link" href="/user/info/userNumber3">
                    <svg class="bi bi-person-circle " width="1.6em" height="1.6em" viewbox='0 0 17 16 '
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
                            d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                    </svg>
                </a>
            </li>
            <li class='nav-item'>
                <a id='login' class='nav-link authentication' href='#' data-toggle='modal' data-target='#loginModal'> Login</a>
            </li>
            
            {{>login_page}}

           <li class='nav-item'>
                <a id='signup' class='nav-link authentication' href='#' data-toggle='modal' data-target='#registerModal'> Register</a>
            </li>

            {{>register_page}}

            <li class='nav-item'>
                <a id='logout' class='nav-link authentication' href='#' data-toggle='modal'> Log Out</a>
            </li>
        </div>
    </ul>

    <nav class="navbar navbar-expand-sm navbar-light bg-light m-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="restaurantLocation" data-toggle="dropdown">
                        Restaurants
                    </a>
                    <div class="dropdown-menu" aria-labelledby="restaurantLocation">
                        <a class="dropdown-item" href="/restaurants/all">All</a>
                        <a class="dropdown-item" href="#">Hong Kong Island</a>
                        <a class="dropdown-item" href="#">Kowloon</a>
                        <a class="dropdown-item" href="#">New Territories</a>
                        <a class="dropdown-item" href="#">Outlying Islands</a>
                    </div>
                </li>
                <form class="navbar-form" action="/action_page.php">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit"><i class="fa fa-search fa-2x"></i></button>
                        </div>
                    </div>
                </form>
                <div class='btn btn-default'>
                    <svg class="bi bi-map" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z" />
                    </svg> </div>
            </ul>
        </div>
    </nav>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA-xdnamR5p45m8XTfs9ZTqdx2JGdsEhE&callback=initMap"></script>    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://localhost:8080/js/vendor/all.min.js'></script>

    {{!-- <script src="https://localhost:8080/js/restaurant.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/blog.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/comment.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/review.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/user.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/search.js"></script> --}}
    <script src="https://localhost:8080/js/main.js"></script>
</body>

</html>