<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Open Vegetables-{{title}}</title>
    <meta name="description" content="Open Vegetables">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://localhost:8080/css/vendor/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="google-signin-client_id"
        content="348043805525-9h9e16iojqr9bu966r4asbie0dr1uiq8.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://localhost:8080/css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/">
            <img id='logo' class='my-2' src="https://localhost:8080/pictures/open-vegetables-logo-01.png" alt="Logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="restaurantLocation" data-toggle="dropdown">
                        Restaurants
                    </a>
                    <div class="dropdown-menu bg-green" aria-labelledby="restaurantLocation">
                        <a class="dropdown-item hover-green" href="/restaurants/all">All</a>
                        <a class="dropdown-item hover-green" href="/restaurants/Hong Kong Island">Hong Kong Island</a>
                        <a class="dropdown-item hover-green" href="/restaurants/Kowloon">Kowloon</a>
                        <a class="dropdown-item hover-green" href="/restaurants/New Territories">New Territories</a>
                        <a class="dropdown-item hover-green" href="/restaurants/Outlying Islands">Outlying Islands</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs/all">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="restaurantLocation" data-toggle="dropdown">
                        Log In
                    </a>
                    <div class="dropdown-menu bg-green" aria-labelledby="restaurantLocation">
                        <a id='login' class='dropdown-item hover-green authentication' href='#' data-toggle='modal'
                            data-target='#loginModal'>Login</a>
                        <a id='signup' class='dropdown-item hover-green authentication' href='#' data-toggle='modal'
                            data-target='#registerModal'>Sign Up</a>
                        <a id='logout' class='dropdown-item hover-green authentication' href='#' data-toggle='modal'>Log
                            Out</a>
                    </div>
                </li>
                <li id='profile' class='nav-item authentication'>
                    <a id='profile-link' class="nav-link" href="">
                        <svg class="bi bi-person-circle " width="1.6em" height="1.6em" viewbox='0 0 17 16 '
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd"
                                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {{>login_page}}
    {{>register_page}}

    <div class="container-fluid p-3 bg-green text-center">
        <form id='form-search' class="form-inline d-flex justify-content-center md-form form-sm">
            <input id='form-input' class="form-control form-control-sm w-50" type="text" placeholder="Search"
                aria-label="Search">
            <select class='form-control form-control-sm w-25 mr-2' id="form-filter" name="form-filter">
                <option value="restaurants">Restaurants</option>
                <option value="blogs">Blogs</option>
                <option value="users">Users</option>
            </select>
            <button class="btn btn-primary btn-search btn-rounded btn-sm my-0" type="submit"><i class="fas fa-search"
                    aria-hidden="true"></i></button>
        </form>
    </div>

    {{{body}}}

    {{!-- <a href="https://www.freepik.com/free-photos-vectors/logo">Logo vector created by freepik - www.freepik.com</a> --}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA-xdnamR5p45m8XTfs9ZTqdx2JGdsEhE&callback=initMap"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://localhost:8080/js/vendor/all.min.js'></script>

    {{!-- <script src="https://localhost:8080/js/restaurant.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/blog.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/comment.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/review.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/user.js"></script> --}}
    {{!-- <script src="https://localhost:8080/js/search.js"></script> --}}
    <script src="https://localhost:8080/js/main.js"></script>
    <script src="https://localhost:8080/js/map.js"></script>
</body>

</html>