<div class="header">
  <h2>Title</h2>
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light s-6">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Publisher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Created Date</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Modified Date</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Restaurant Name</a>
                </li>
            </ul>
        </div>
</nav>
<br></br>
    <div class="col-4">
      <div class="container-fluid" id="blog-post">
        <img src="/pictures/2019-03-28@08-57-24-701_İstanbul Restoran.jpg" alt="resto-news" style="width:70% height:70%">
      <div class="w3-container w3-light-grey">
        <p>Some text</p>
        <p>2 Hours Ago</p>
    </div>
</div>