<div class='container-fluid'>
    <div class='row '>
        <div class='col-sm-12 '>
            <ul class='nav justify-content-around navbar-light bg-light mb-2'>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="locations" data-toggle="dropdown">
                        Hong Kong Island
                    </a>
                    <div class="dropdown-menu" aria-labelledby="hong-kong-island-districts">
                        <a id="central" href='/map/hong-kong-island/central' data-latLng="22.2800, 114.1588" class='nav-link'>Central</a>
                        <a id="wan-chai" href='/map/hong-kong-island/wan-chai' class='nav-link'>Wan Chai</a>
                        <a id="causeway-bay" href='/map/hong-kong-island/causeway-bay' class='nav-link'>Causeway Bay</a>
                        <a id="north-point" href='/map/hong-kong-island/north-point' class='nav-link'>North Point</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="locations" data-toggle="dropdown">
                        Kowloon
                    </a>
                    <div class="dropdown-menu" aria-labelledby="kowloon-districts">
                        <a id="tsim-sha-tsui" href='/map/kowloon/tsim-sha-tsui' class='nav-link'>Tsim Sha Tsui</a>
                        <a id="mong-kok" href='/map/kowloon/mong-kok' class='nav-link'>Mong Kok</a>
                        <a id="kwun-tong" href='/map/kowloon/kwun-tong' class='nav-link'>Kwun Tong</a>
                        <a id="tsuen-wan" href='/map/kowloon/tsuen-wan' class='nav-link'>Tsuen Wan</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="locations" data-toggle="dropdown">
                        New Territories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="new-territories-districts">
                        <a id="sha-tin" href='/map/new-territories/sha-tin' class='nav-link'>Sha Tin</a>
                        <a id="tai-po" href='/map/new-territories/tai-po' class='nav-link'>Tai Po</a>
                        <a id="tuen-mun" href='/map/kowloon/tuen-mun' class='nav-link'>Tuen Mun</a>
                        <a id="yuen-long" href='/map/kowloon/yuen-long' class='nav-link'>Yuen Long</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="locations" data-toggle="dropdown">
                        Outlying Islands
                    </a>
                    <div class="dropdown-menu" aria-labelledby="outlying-islands">
                        <a id="lantau-island" href='/map/outlying-islands/lantau-island' class='nav-link'>Lantau Island</a>
                        <a id="lamma-island" href='/map/outlying-islands/lamma-island' class='nav-link'>Lamma Island</a>
                        <a id="cheung-chau" href='/map/outlying-islands/cheung-chau' class='nav-link'>Cheung Chau</a>
                    </div>
                </li>
<div id="map">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQHc3vxhObyJ3Oancsb7ZoXGPesEMMd2g&callback=initMap"></script>
    <script src="/js/map.js"></script>
</div>
</div>
</div>
</div>
</div>
