{{> restaurantDetails}}
{{> restaurantDetails_nav}}
<div class='container-fluid '>
    <div class='card'>
        <div class='row '>
            <div class='col-sm-5'>
                <h4 class='card-header'>Menu</h4>
                <div class='card-body'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='card-img-top mb-3'>
                                <a href="/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png">
                                    <img src="/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png" alt="Lights"
                                        style="width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png">
                                    <img src="/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png" alt="Lights"
                                        style="width:100%">
                                    <div class="caption">
                                        <p>breakfast</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png">
                                    <img src="/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png" alt="Nature"
                                        style="width:100%">
                                    <div class="caption">
                                        <p>lunch</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png">
                                    <img src="/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png" alt="Fjords"
                                        style="width:100%">
                                    <div class="caption">
                                        <p>dinner</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-5'>
                <h4 class='card-header'>Food Photos</h4>
                <div class='card-body'>
                    <img class='custom-width mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='custom-width mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='custom-width mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='custom-width mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='custom-width mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='custom-width mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                </div>
            </div>
        </div>
    </div>
</div>