{{> restaurantDetails}}
{{> restaurantDetails_nav}}

<div class='container-fluid '>
    <div class='card'>
        <div class='row '>
            <div class='col-sm-10'>
                <h4 class='card-header'>Recommended Dishes</h4>
                <div class='card-body'>
                    <img class='w-25 mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='w-25 mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='w-25 mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='w-25 mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='w-25 mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                    <img class='w-25 mb-2' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                </div>
                <div class='col-sm-2'>

                </div>
            </div>
            <div class='col-sm-10'>
                <h4 class='card-header'>Top Reviews</h4>
                <div class='card-body'>
                    <h5 class='card-title'>UserN</h5>
                    <h8 class='card-text'>some comments</h8>
                </div>
                <div class='card-body'>
                    <h5 class='card-title'>UserN</h5>
                    <h8 class='card-text'>some comments</h8>
                </div>
                <div class='card-body'>
                    <h5 class='card-title'>UserN</h5>
                    <h8 class='card-text'>some comments</h8>
                </div>

            </div>

        </div>
    </div>
