{{> restaurantDetails}}
{{> restaurantDetails_nav}}

<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-10'>
            <ul class='nav justify-content-around navbar-light bg-light mb-2'>
                <li class='nav-item'>
                    <a href='#' class='nav-link'>Latest</a>
                </li>
                <li class='nav-item'>
                    <a href='#' class='nav-link'>Rate</a>
                </li>
                <li class='nav-item'>
                    <a href='#' class='nav-link'>Hotest</a>
                </li>
                <li clas='nav-item dropdown'>
                    <a href='#' class='nav-link'>Publisher</a>
                </li>
            </ul>
            <div class='card custom-height overflow-auto'>
                <div class='row'>
                    <div class='col-sm-3'>
                        <div class='card-body'>
                            <h5 class='card-title'>User Name</h5>
                            <img class='w-100 ' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                        </div>
                    </div>
                    <div class='col-sm-9'>
                        <div class='card-body'>
                            <h7 class='card-subtitle text-muted'>Creation Date </h7>
                            <h7 class='card-subtitle text-muted'>Modified Date</h7>
                            <p class='card-text'>Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the card's content.</p>
                            <img class='card-img w-50' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                            <p class='card-text'>Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>