<div class='container-fluid'>
    {{!-- Testing restaurant API route --}}
    <div id='restaurants' class='row'>
        <div id="restaurants-carousel" class="carousel slide col-sm-7" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators ">
                <li data-target="#restaurants-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#restaurants-carousel" data-slide-to="1"></li>
                <li data-target="#restaurants-carousel" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <a href=''><img class='w-100 img-fluid' src=""
                        alt=""></a>
                </div>
                <div class="carousel-item">
                    <a href=''><img class='w-100' src="" alt=""></a>
                </div>
                <div class="carousel-item">
                    <a href=''><img class='w-100' src="" alt=""></a>
                </div>
            </div>
        </div>
        <div class='col-sm-5'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-6 '><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Testing reviews API route --}}
    <div id='reviews' class="row"></div>

    {{!-- Testing users API route --}}
    <div id='users' class='row'>
        <div id="users-carousel" class="carousel slide col-sm-7" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators ">
                <li data-target="#users-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#users-carousel" data-slide-to="1"></li>
                <li data-target="#users-carousel" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <a href=''><img class='w-100 img-fluid' src=""
                        alt=""></a>
                </div>
                <div class="carousel-item">
                    <a href=''><img class='w-100' src="" alt=""></a>
                </div>
                <div class="carousel-item">
                    <a href=''><img class='w-100' src="" alt=""></a>
                </div>
            </div>
        </div>
        <div class='col-sm-5'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-6 '><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                </div>
            </div>
        </div>
    </div>
    
    {{!-- Testing reviews API route --}}
    <div id='reviews' class="row"></div>

    {{!-- Testing blogs API route --}}
    <div id='blogs' class='row'>
        <div id="blogs-carousel" class="carousel slide col-sm-7" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators ">
                <li data-target="#blogs-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#blogs-carousel" data-slide-to="1"></li>
                <li data-target="#blogs-carousel" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <a href=''><img class='w-100 img-fluid' src=""
                        alt=""></a>
                </div>
                <div class="carousel-item">
                    <a href=''><img class='w-100' src="" alt=""></a>
                </div>
                <div class="carousel-item">
                    <a href=''><img class='w-100' src="" alt=""></a>
                </div>
            </div>
        </div>
        <div class='col-sm-5'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-6 '><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                    <div class='col-sm-6'><img src="" class="rounded"
                            alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>