<div class='container-fluid'>
    <div class='row '>
        <div class='col-sm-9 '>
            {{> user_nav}}
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-sm-10'>
                        <div class='card custom-height overflow-auto'>
                            <div class='card-body'>
                                <h2 class='card-title'> Title</h2>
                                <h7 class='card-subtitle text-muted'>Restaurant Name </h7>
                                <h7 class='card-subtitle text-muted'>Creation Date </h7>
                                <h7 class='card-subtitle text-muted'>Modified Date</h7>
                                <p class='card-text'>Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <img class='card-img w-50' src='/pictures/Screenshot 2020-06-06 at 3.46.29 PM.png'>
                                <p class='card-text'>Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>

                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 d-flex align-items-center'>
                        <div class='card'>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Rate</li>
                                <li class="list-group-item">Meal Date</li>
                                <li class="list-group-item">Price</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>