/* Elements */

body{
    overflow-x:hidden;
}

a, u {
    text-decoration: none !important;
    transition: 0.5s ease-in-out;
    color:rgba(0, 0, 0, 1)
}

a:hover {
    color:rgba(100, 100, 100, 1)
}

hr{
    border-top: 2px solid rgba(0, 0, 0, 0.4);
  }

/* Classes */

.hover-green:hover { 
    background-color: rgba(127, 194, 148, 1); 
}

.nav-link{
    color: rgba(0,0,0,.9);
}

.navbar-nav > li > .nav-link{
    margin-right: 1.4rem;
}

.nav-link:hover{
    color: rgba(0,0,0,.7);
}

/* Blog page */

/* .leftcolumn {
    float: left;
    width: 75%;
  }

.blog {
    margin-right: 2.0em;
    font-size: 15px;
    text-align: left;
    background: white;
  } */

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}
  
  /* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
  
  /* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  
  /* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}
  
hr{
  border-top: 2px solid rgba(0, 0, 0, 0.4);
}

.list-group-item {
    padding: .25rem 1.25rem;
}

.custom-width{
    width: 45%;
}
.custom-height{
    max-height: 500px;
}

.custom-area-small{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#map{
  height: 700px;
  width: 100%;
}

.custom-area-xs{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.authentication {
    display:none
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.75s ease-in-out;
}

.overlay:hover{
    opacity: 1;
}

.thumbnail{
    width: inherit;
    height:inherit;
}

.caption{
    z-index: 10;
    text-align: center;
    color:rgba(255,255,255, 1);
}

.btn-search{
    background-color: rgba(255,255,255, 1);
    color: rgba(95, 218, 133, 1);
    border-radius: 50%;
    border: none;
    transition: 0.5s ease-in-out;
}

.btn-search:hover{
    background-color: rgb(54, 129, 78);
    color: rgba(255,255,255, 1);
    border-radius: 50%
}

.btn-green{
    background-color: rgba(95, 218, 133, 1);
    color: rgba(255,255,255, 1);
    border: none;
    transition: 0.5s ease-in-out;
}

.btn-green:hover{
    background-color: rgb(54, 129, 78);
    color: rgba(255,255,255, 1);
}

/* Colours */
.bg-green{
    background-color: rgba(95, 218, 133, 1)!important;
}

.bg-light{
    background-color: rgba(255,255,255, 1)!important;
}

.color-white{
    color: rgba(255,255,255, 1)!important;
}

.color-black{
    color: rgba(0,0,0, 1)!important;
}

/* IDs */

#logo{
    height:50px;
}

/* Others */

::placeholder { 
    opacity: 1;
    color:rgba(0, 0, 0, 1);
}