/* Elements */

body{
    overflow-x:hidden;
}

a, u {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 1);
    transition: 0.75s ease-in-out;
}

a:hover {
    color:rgba(150, 150, 150, 1)
}

hr{
    border-top: 2px solid rgba(0, 0, 0, 0.4);
  }

/* Classes */

.hover-green:hover { 
    background-color: rgba(127, 194, 148, 1); 
}

.nav-link{
    color: rgba(0,0,0,.9);
}

.navbar-nav > li > .nav-link{
    margin-right: 1.4rem;
}

.nav-link:hover{
    color: rgba(0,0,0,.7);
}

.list-group-item {
    padding: .25rem 1.25rem;
}

.custom-width{
    width: 45%;
}
.custom-height{
    max-height: 500px;
}
.custom-area-small{
    max-height: 200px;
    max-width: 200px;
}

.custom-area-xs{
    max-height: 100px;
    max-width: 100px;
}

.authentication {
    display:none
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.75s ease-in-out;
}

.overlay:hover{
    opacity: 1;
}

.thumbnail{
    width: inherit;
    height:inherit;
}

.caption{
    z-index: 10;
    text-align: center;
    color:rgba(255,255,255, 1);
}

.btn-search{
    background-color: rgba(255,255,255, 1);
    color: rgba(95, 218, 133, 1);
    border-radius: 50%;
    border: none;
    transition: 0.5s ease-in-out;
}

.btn-search:hover{
    background-color: rgb(54, 129, 78);
    color: rgba(255,255,255, 1);
    border-radius: 50%
}

.btn-green{
    background-color: rgba(95, 218, 133, 1);
    color: rgba(255,255,255, 1);
    border: none;
    transition: 0.5s ease-in-out;
}

.btn-green:hover{
    background-color: rgb(54, 129, 78);
    color: rgba(255,255,255, 1);
}

/* Colours */
.bg-green{
    background-color: rgba(95, 218, 133, 1)!important;
}

.bg-light{
    background-color: rgba(255,255,255, 1)!important;
} */

.color-white{
    color: rgba(255,255,255, 1)!important;
}

.card-text{
    color: rgba(255,255,255, 1)!important;
}

/* IDs */

#logo{
    height:50px;
}

/* Others */

::placeholder { 
    opacity: 1;
    color:rgba(0, 0, 0, 1);
}