 <ul class='nav justify-content-center navbar-light bg-light  '>
                <li class='nav-item'>
                    <a href='#' class='nav-link'>Hotest</a>
                </li>
                <li class='nav-item'>
                    <a href='#' class='nav-link'>Rating</a>
                </li>
                <li clas='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='locationBased' data-toggle='dropdown'>Location</a>
                    <div class="dropdown-menu" aria-labelledby="locationBased">
                        <a class="dropdown-item" href="All">All</a>
                        <a class="dropdown-item" href="#">Hong Kong Island</a>
                        <a class="dropdown-item" href="#">Kowloon</a>
                        <a class="dropdown-item" href="#">New Territories</a>
                    </div>
                </li>
            </ul>